<!-- <h4>students dedails</h4>
<di<!-- <!-- v class="row">
  <div class="col-lg-6">
    <h4 class="text-center"> student information </h4>
    <p>
    <strong>First Name :</strong>
    <%= @student.first_name %>
    </p>

    <p>
    <strong>Middle Name :</strong>
    <%= @student.middle_name %>
    </p>
 -->
   <!--  <p>
    <strong>Last Name :</strong>
    <%= @student.last_name %>
    </p>

    <p>
    <strong>Personal Email :</strong>
    <%= @student.personal_email%>
    </p>

    <p>
    <strong>State :</strong>
    <%= @student.state%>
    </p>

    <p>
    <strong>country :</strong>
    <%= @student.country %>
    </p>

    <p>
    <strong>Pincode :</strong>
    <%= @student.pincode %>
    </p>

    <p> -->
    <!-- <strong>Address Line 1:</strong>
    <%= @student.address_line_1 %>
    </p>

    <p>
    <strong>Address Line 2:</strong>
    <%= @student.address_line_2 %>
    </p>
  </div>


  <div class="col-lg-6">
    <h4 class="text-center"> Address information </h4>

    <p>
    <strong>State :</strong>
    <%= @student.state%>
    </p>

    <p>
    <strong>country :</strong>
    <%= @student.country %>
    </p>

    <p>
    <strong>Pincode :</strong>
    <%= @student.pincode %>
    </p>

    <p>
    <strong>Address Line 1:</strong>
    <%= @student.address_line_1 %>
    </p>

    <p>
    <strong>Address Line 2:</strong>
    <%= @student.address_line_2 %>
    </p>
  </div>
</div>
 <%= link_to 'Back to students' , students_path %>
<%= link_to "Edit " ,student_path(@student) %> --> --> -->