<h1>Monday To-Do List:</h1>
<ul>
  <% @monday_todos.each do |todo| %>
    <li><%= todo.name %></li>
  <% end %>
</ul>

<h1>Tuesday To-Do List:</h1>
<ul>
  <% @tuesday_todos.each do |todo| %>
    <li><%= todo.name %></li>
  <% end %>
</ul>



<h1>Add New To-Do Item:</h1>
<%= form_for Todo.new do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :day %>
  <%= f.select :day, ['Monday', 'Tuesday'] %>
  
  <%= f.submit "Add To-Do Item" %>
<% end %>
